

//variables

:root {
  --primary-color: #ab47bc

  
}


html {
  font-size: 15px;
  font-weight: 500;
  box-sizing: border-box;
}

body {
  font-family: "Spartan", sans-serif;
 
}


  html {
    font-size: 0.75rem;
  }

